<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-autowire="byName">

    <bean id="scheduleManagerFactory" class="com.tbb.task.TaskManagerFactory" init-method="init">
        <property name="zkAddress" value="127.0.0.1:2181"/>
        <property name="zkPath" value="/tbbtest/tbb2"/>
        <property name="zkUserName" value="" />
        <property name="zkPassword" value=""/>
        <property name="zkSessionOut" value="60000"/>
    </bean>


</beans>
